* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color:#00BFFF;
}

.result_background {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.result_header {
    background-color: white;
    min-width: 95vw;
    font-weight: 200;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 1px 2px 2px black;
    margin: 10px 0 0 0;
}

.result_container {
    background-color: white;
    min-width: 95vw;
    font-size: 30px;
    font-weight: 200;
    border-radius: 5px;
    margin: 9px 0 0 0;
    padding: 10px 0 15px 0;
    box-shadow: 0 1px 2px 2px black;
}

.exam_title {
    font-size: 28px;
    margin: 10px 0 10px 0;
}

.result_title {
    margin-left: 10px;
    margin-top: 15px;
    font-size: 28px;
}

.result_text {
    margin-left: 15px;
    font-size: 24px;
}

.result_score {
    margin-left: 20px;
}

.score {
    color: red;
}

.selected_choice {
  margin-left: 10px;
  margin-top: 30px;
}

.judge {
    font-size: 24px;
}

.judge_icon {
    font-size: 36px;
    margin-left: 30px;
}

.correct {
    color: red;
}

.incorrect {
    color: blue;
}