<!DOCTYPE html>
{% load static %}
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{% static 'css/exam.css' %}" rel="stylesheet">
        <title>受験画面</title>
    </head>
    <body>
        <div class="exam_background">
            <header class="exam_header">
                <div>
                    <p class="exam_title">{{ model.title }}</p>
                </div>
            </header>
            <form method="post" id="examForm" action="{% url 'app:post_exam' model.id %}" target="_blank">
                {% csrf_token %}
                <div class="exam_container">
                    <div class="name_box">
                        <h2 class="name_title exam_title_text">名前</h2>
                        <input class="name_input_box" name="guestname" required>
                    </div>
                </div>
                <!-- 問題数分ループ -->
                {% for items in question_list %}
                <div class="exam_container">
                    <div class="question_box" id="question_{{ forloop.counter }}">
                        <h2 class="question_number exam_title_text">
                            <!-- 問題番号 -->
                            問{{ forloop.counter }}
                        </h2>
                        <p class="question_text_box exam_text">
                            <!-- 問題文 -->
                            {{ items.question.text }}
                        </p>
                        <div class="question_choices_box">
                            <!-- 選択肢の数だけループ -->
                            {% for question_choice in items.questionchoices %}
                            <div class="choices">
                                <input type="radio" name="question_{{ items.question.id }}" id="radio_{{ question_choice.sequence }}" value="{{ question_choice.sequence }}" required>
                                <label for="radio_{{ question_choice.sequence }}">{{ question_choice.text }}</label>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endfor %}
                <div id="submitAnswerButton" class="exam_container finish_button_box">
                    <button type="submit" class="exam_finish_button">回答を提出する</button>
                </div>
            </form>
        </div>

        <!-- モーダル -->
        <div id="submitModal" class="submit_modal">
            <div class="modal_content">
                <h2>確認</h2>
                <p>回答を完了してよろしいですか？</p>
                <div class="submit_buttons">
                  <button type="button" id="confirmButton" class="confirm_submit">回答を投稿</button>
                  <button id="cancelButton" class="cancel_submit">キャンセル</button>
                </div>
            </div>
        </div>

        <script src="{% static 'js/exam.js' %}"></script>
    </body>
</html>