{% extends 'app/header_base.html' %}

{% block title %}ログアウト{% endblock %}

{% block content %}
<h1 class="logout">ログアウト</h1>

<p class="logout">ログアウトしますか？</p>

<form class="logout" method="post" action="{% url 'accounts:account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button type="submit">ログアウト</button>
</form>

<p class="logout">
  <a href="{% url 'accounts:account_login' %}">ホームに戻る</a>
</p>
{% endblock %}
