{% extends 'app/header_base.html' %}
{% block title %}テスト作成{% endblock %}

{% block content %}
<form id="create-test" method="post">
  <label for="test-title">テストタイトル</label>
  <input name="title" id="test-title" required>
  {% csrf_token %}
</form>

<ol id="questions">
  <li class="question">
    <h3>問題 1</h3>
    <textarea name="question_text_1" placeholder="問題文" form="create-test" rows="5" cols="96" required></textarea>

    <label class="flex choiceies">
      <p>選択肢</p>
      <p>正答</p>
    </label>
    <ol class="choiceies">
      <li class="flex">
        <label>1</label>
        <input name="choice_1_1" form="create-test" required>
        <input value="1" type="radio" name="correct_1" form="create-test" required>
      </li>
      <li class="flex">
        <label>2</label>
        <input name="choice_1_2" form="create-test" required>
        <input value="2" type="radio" name="correct_1" form="create-test">
      </li>
      <li class="flex">
        <label>3</label>
        <input name="choice_1_3" form="create-test">
        <input value="3" type="radio" name="correct_1" form="create-test">
      </li>
      <li class="flex">
        <label>4</label>
        <input name="choice_1_4" form="create-test">
        <input value="4" type="radio" name="correct_1" form="create-test">
      </li>
    </ol>

    <label for="commentary-1" class="commentary">解説</label>
    <textarea name="commentary_1" class="commentary" id="commentary-1" placeholder="解説文" rows="7" cols="96" form="create-test"></textarea>
  </li>
</ol>

<div class="button-area">
  <button id="addQuestionButton">
    ＋問題を追加する
  </button>
</div>
<div class="button-area">
  <button id="removeQuestionButton">
    ー１番下の問題を削除する
  </button>
</div>
<div class="button-area">
  <button type="submit" form="create-test">
    問題作成を完了する
  </button>
</div>
{% endblock %}

{% load static %}
{% block extra_js %}
<script src="{% static 'js/create.js' %}"></script>
{% endblock %}