{% extends 'app/detail_base.html' %}
{% load static %}

{% block title %}テスト詳細{% endblock %}

{% block content %}
<div class="exam_background">
    <div class="exam_container">
        <div class="view_mode">
            <div class="exam_title_box">
                <h2 class="exam_title_text">タイトル</h2>
                <p class="exam_text" id="test_title">{{ test.title }}</p>
            </div>
            <!-- <div class="detail_button_block">
                <button class="detail_button button_update" onclick="showEditForm('test_title')">編集</button>
            </div> -->
            <h2 class="exam_title_text">テストのURL</h2>
            <div class="exam_url_box">
                <input type="text" class="url_get" value="{{ test.signed_id }}" readonly aria-label="URL to copy">
                <button class="copy_button" aria-label="Copy URL to clipboard">Copy</button>
            </div>
        </div>
        <div class="edit_mode">
            <form id="create-test"">
                <label for="test-title">テストタイトル</label>
                <input class="edit_content" id="test-title">

            </form>
        </div>
    </div>

    {% for question in questions %}
    <div class="exam_container" id="{{ question.id }}">
        <div class="question_box">
            <div class="view_mode">
                <div class="view_content">
                    <!-- 問番号 -->
                    <div class="question_number exam_title_text">
                        問{{ forloop.counter }}
                    </div>
                    <!-- 問題文 -->
                    <div class="question_text_box">
                        {{ question.text }}
                    </div>

                    <div class="question_choices_box">
                        <!-- 選択肢 -->
                        {% for choice in question.choices.all %}
                        <div class="choices">
                            <input type="radio" name="choice_{{ question.id }}" id="radio_{{ choice.id }}" value="{{ choice.id }}">
                            <label for="radio_{{ choice.id }}">{{ choice.text }}</label>
                        </div>
                        {% endfor %}
                        <!-- 解説 -->
                        <div>
                            <h5 class="result_title">解説</h5>
                            <p class="result_text">{{ question.explanation }}</p>
                        </div>
                    </div>
                    <div class="detail_button_block">
                        <!-- 編集ボタン -->
                        <button type="button" class="detail_button button_update" id="edit_button_{{ question.id }}" onclick="showEditForm('{{ question.id }}')">編集</button>
                        <!-- 削除ボタン -->
                        <form method="post" id="delete_{{ question.id }}" action="{% url 'app:test_detail' test.id %}">
                            {% csrf_token %}
                            <input type="hidden" name="question_id" value="{{ question.id }}">                   
                            <input type="hidden" name="delete_question" value="">
                            <button type="button" class="detail_button button_delete" id="delete_button_{{ question.id }}" onclick="showDeleteConfirmation('{{ question.id }}')">削除</button>
                        </form>
                    </div>
                </div>
            </div>
            
            <!-- モーダル -->
            <div id="deleteConfirmationModal_{{ question.id }}" class="delete_modal">
                <div class="modal_content">
                    <h2>確認</h2>
                    <p>この問題を削除してよろしいですか？</p>
                    <div class="delete_modal_buttons">
                    <button id="confirmButton" id="delete_modal_button_{{ question.id }}" class="confirm_delete" onclick="deleteBlock('{{ question.id }}')">削除</button>
                    <button id="cancelButton" class="cancel_submit" onclick="closeModal('{{ question.id }}')">キャンセル</button>
                    </div>
                </div>
            </div>

            <!-- 編集画面 -->
            <div class="edit_mode">
                <form method="post" class="edit_content" id="update_question_form" action="{% url 'app:test_detail' test.id %}">
                    {% csrf_token %}
                    <h2 class="update_title">問{{ forloop.counter }}を編集</h2>
                    <textarea class="question_text" placeholder="問題文" name="text" rows="5" cols="96" required>{{ question.text }}</textarea>
                    <table class="choices_table">
                        <tr class=>
                            <th></th>
                            <th class="choices_input">選択肢</th>
                            <th>正答</th>
                        </tr>
                        {% for edit_choice in question.choices.all %}
                        <tr class="choices">
                            <td><label>{{ forloop.counter }}</label></td>
                            <td><input class="choices_input" name="choice_{{ question.id }}_{{ edit_choice.id }}" value="{{ edit_choice.text }}" {% if forloop.counter <= 2 %}required{% endif %}></td>
                            <td><input class="choices_radio" value="{{ forloop.counter }}" type="radio" name="correct_choice" {% if forloop.counter == question.correct_sequence %}checked{% endif %} required></td>
                        </tr>
                        {% endfor %}
                    </table>
                    <label for="commentary-1" class="commentary">解説</label>
                    <textarea name="explanation" class="question_text" placeholder="解説文" rows="7" cols="96">{{ question.explanation }}</textarea>

                    <input type="hidden" name="question_id" value="{{ question.id }}">
                    <input type="hidden" name="update_question" value="">
                    <div class="submit_buttons button_position">
                        <button type="button" class="confirm_submit" onclick="saveEdit('{{ question.id }}')">保存</button>
                        <button type="button" class="cancel_submit" onclick="cancelEdit('{{ question.id }}')">キャンセル</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% endfor %}

</div>

<!-- モーダル -->

<script src="{% static 'js/detail.js' %}"></script>
{% endblock %}