{% extends 'app/header_base.html' %}
{% block title %}ホーム{% endblock %}

{% block content %}
<div class="home-main">
  <a href="{% url 'app:test_create' %}" class="link-button create-link">新しいテストを作成</a>


    <h1>エンドポイント一覧</h1>
    <ul>
      <li>
        <a href="{% url 'app:home' %}">Home</a> 
        (<a href="{% url 'app:home' %}">/</a>)
      </li>
      <li>
        <a href="{% url 'app:test_create' %}">テスト作成</a> 
        (<a href="{% url 'app:test_create' %}">/test/create/</a>)
      </li>
      <li>
        <a href="{% url 'app:creation_successful' testid=1 %}">テスト作成完了</a> 
        (<a href="{% url 'app:creation_successful' testid=1 %}">/test/create/tmp</a>)
      </li>
      <li>
        <a href="{% url 'accounts:edit' %}">ユーザー編集</a> 
        (<a href="{% url 'accounts:edit' %}">/user/edit</a>)
      </li>
      <li>
        <a href="{% url 'accounts:account_logout' %}">ログアウト</a> 
        (<a href="{% url 'accounts:account_logout' %}">/user/logout/</a>)
      </li>
      <li>
        <a href="{% url 'app:test_detail' testid=1 %}">テスト詳細</a> 
        (<a href="{% url 'app:test_detail' testid=1 %}">/test/detail/</a>)
      </li>
      <li>
        <a href="{% url 'app:test_update' testid=1 %}">テスト編集</a> 
        (<a href="{% url 'app:test_update' testid=1 %}">/test/update/</a>)
      </li>
      <li>
        <a href="{% url 'app:test_delete' %}">テスト削除</a> 
        (<a href="{% url 'app:test_delete' %}">/test/modal/confirm_test_deletion</a>)
      </li>
      <li>
        <a href="{% url 'app:exam_result_list' testid=1 %}">回答履歴一覧</a> 
        (<a href="{% url 'app:exam_result_list' testid=1 %}">/test/results/1/</a>)
      </li>
      <li>
        <a href="{% url 'app:question_delete' %}">問題削除</a> 
        (<a href="{% url 'app:question_delete' %}">/test/modal/confirm_question_deletion</a>)
      </li>
      <li>
        <a href="{% url 'app:get_exam' testid=1 %}">試験受験</a> 
        (<a href="{% url 'app:get_exam' testid=1 %}">/exam/1/</a>)
      </li>
    <li>
        <a href="{% url 'app:exam_result' examinationid=1 %}">試験結果</a> 
        (<a href="{% url 'app:exam_result' examinationid=1 %}">/exam/result/1/</a>)
    </li>
    </ul>

  <h2>作成テスト一覧</h2>
  <table>
    <thead>
      <tr>
        <th>テストタイトル</th>
        <th>作成日時</th>
        <th>更新日時</th>
        <th>問題数</th>
        <th>(機能ボタン)</th>
      </tr>
    </thead>

    <tbody id="test-list">
      {% for test in test %}
      <tr>
        <td>
          <h3>{{ test.title }}</h3>
        </td>
        <td>{{ test.created_at }}</td>
        <td>{{ test.updated_at }}</td>
        <td>{{ test.question_count }}</td>
        <td>
          <div class="function-buttons">
            <a href="" class="link-button">回答確認</a>
            <a href="" class="link-button">編集</a>
            <button class="link-button" onclick="toggleModal('{{ test.title }}')">削除</button>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% include "app/test/modal/confirm_test_deletion.html" %}

{% load static %}
{% block extra_js %}
<script src="{% static 'js/index.js' %}"></script>
{% endblock %}
{% endblock %}