{% extends 'app/header_base.html' %}
{% block title %}ホーム{% endblock %}

{% block content %}
<div class="home-main">
  <a href="{% url 'app:test_create' %}" class="link-button create-link">新しいテストを作成</a>


    <h1>エンドポイント一覧</h1>
    <ul>
      <li>
        <a href="{% url 'app:creation_successful' testid=1 %}">テスト作成完了</a> 
        (<a href="{% url 'app:creation_successful' testid=1 %}">/test/create/tmp</a>)
      </li>
      <li>
        <a href="{% url 'app:question_delete' %}">問題削除</a> 
        (<a href="{% url 'app:question_delete' %}">/test/modal/confirm_question_deletion</a>)
      </li>
    </ul>

  <h2>作成テスト一覧</h2>
  <table>
    <thead>
      <tr>
        <th>テストタイトル</th>
        <th>作成日時</th>
        <th>更新日時</th>
        <th>問題数</th>
        <th>(機能ボタン)</th>
      </tr>
    </thead>

    <tbody id="test-list">
      {% for test in test %}
      <tr>
        <td>
          <h3>{{ test.title }}</h3>
        </td>
        <td>{{ test.created_at }}</td>
        <td>{{ test.updated_at }}</td>
        <td>{{ test.question_count }}</td>
        <td>
          <div class="function-buttons">
            <a href="{% url 'app:exam_result_list_for_admin' testid=test.id %}" class="link-button">回答確認</a>
            <a href="{% url 'app:test_detail' testid=test.id %}" class="link-button">詳細</a>
            <button class="link-button" onclick="toggleModal('{{ test.title }}', '{{ test.id }}')">削除</button>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% include "app/test/modal/confirm_test_deletion.html" %}

{% load static %}
{% block extra_js %}
<script src="{% static 'js/index.js' %}"></script>
{% endblock %}
{% endblock %}