{% extends 'app/header_base.html' %}
{% block title %}ホーム{% endblock %}

{% block content %}
<div class="home-main">
  <a href="{% url 'app:test_create' %}" class="link-button create-link">新しいテストを作成</a>
  <h2>作成テスト一覧</h2>
  <table>
    <tr>
      <th>テストタイトル</th>
      <th>作成日時</th>
      <th>更新日時</th>
      <th>問題数</th>
      <th>(機能ボタン)</th>
    </tr>

    <tr>
      <td>
        <h3>クイズ１</h3>
      </td>
      <td>□</td>
      <td>□</td>
      <td>□</td>
      <td>
        <nav class="function-buttons">
          <a href="" class="link-button">回答確認</a>
          <a href="" class="link-button">編集</a>
          <a href="" class="link-button">削除</a>
        </nav>
      </td>
    </tr>

    <tr>
      <td>
        <h3>クイズ２</h3>
      </td>
      <td>□</td>
      <td>□</td>
      <td>□</td>
      <td>
        <nav class="function-buttons">
          <a href="" class="link-button">回答確認</a>
          <a href="" class="link-button">編集</a>
          <a href="" class="link-button">削除</a>
        </nav>
      </td>
    </tr>

    <tr>
      <td>
        <h3>クイズ３</h3>
      </td>
      <td>□</td>
      <td>□</td>
      <td>□</td>
      <td>
        <nav class="function-buttons">
          <a href="" class="link-button">回答確認</a>
          <a href="" class="link-button">編集</a>
          <a href="" class="link-button">削除</a>
        </nav>
      </td>
    </tr>
  </table>
</div>
{% endblock %}