{% extends 'app/detail_base.html' %}
{% load static %}

{% block title %}回答者一覧{% endblock %}

{% block content %}

<!-- 本番用 -->
<div class="home-main">
    <div class="records_container">
        <div class="records_list">
            <h2>{{ test.title }}の回答者一覧</h2>
            <table class="records_table" border="1">
                <tr class="records_table_tr">
                    <th class="records_table_th">名前</th>
                    <th class="records_table_th">時間</th>
                    <th class="records_table_th">点数</th>
                    <th class="records_table_th">詳細</th>
                </tr>
                {% for records in examination_list %}
                <tr class="records_table_tr">
                    <td class="records_table_th">{{ records.guestname }}</td>
                    <td class="records_table_th">{{ records.answered_at }}</td>
                    <td class="records_table_th">{{ records.correct_count }}/{{ records.total_count }}</td>
                    <td class="records_table_th">
                        <a class="records_button" id="detail-button-{{ records.id }}" href="{% url 'app:exam_result_for_admin' examinationid=records.id %}" target="_blank" rel="noopener noreferrer"">回答詳細</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

{% endblock %}